@charset "utf-8";
/* CSS Document */
body {
	background-image: url(drivewayx2.jpg);
	background-repeat: no-repeat;
	background-color: black;
	background-position: top;
	border-bottom-width: thick;
	margin-left: 222px;
	
}
.header, h1{
	color: #FFCACA;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	padding-left: 186px;
	
}
#content {
	height: 665px;
	width: 800px;
	margin-left: 240px;
	background-color: #000000;
	word-spacing: px;
	
}

h2 {
	color: white;
	padding-left: 321px;
	background-color: #F66B85;
	
}
#mainnav, li, ul, a {
	text-decoration: none;
	color: white;
	height: auto;
	display: inline;
	text-transform: uppercase;
	background-color: #F66B85;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding: .3em 1em;
	float: left;
	min-width: 181px;
	margin: 10;
	padding-top: 0.3em;
	padding-left: auto;
	padding-bottom: .3em;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage{
	text-decoration: underline;

}
